.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  @include respond(bp-s) {
    flex-wrap: wrap;
    height: 11rem;
    align-items: space-around;
  }
}