.side-nav {

  &__item {

  }

  &__link {
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  &__text {

  }
}